<div class="form-horizontal">
    <div class="form-group form-group-sm">
        <div class="input-group">
            <input type="text"
                   class="form-control te-input"
                   ng-model="linkElement.url"
                   placeholder="Enter a link">

            <span ng-click="remove()"
                  uib-tooltip="Remove link"
                  tooltip-class="tooltip-top"
                  tooltip-append-to-body="true"
                  class="pointer input-group-addon input-button-icon">
                    <i class="fa fa-times"></i>
                </span>
        </div>
    </div>
</div>
