#profile-notes {
    .note-item {
        margin-bottom: 13px;
        &:last-child {
            margin-bottom: 0px;
        }
        .avatar-column {
            padding: 0 10px 0 0;
            flex: 0 0 60px;
        }

        .user-information {
            a {
                color: #9A99AB;
                font-weight: bold;
            }
            margin-bottom: 3px;
        }

        .description {
            font-size: 14px;
            > span {
                white-space: nowrap;
                margin-top: 5px;
                display: inline-block;
                &:not(:last-child) {
                    border-right: 1px solid #9A99AB;
                    padding-right: 5px;
                    margin-right: 5px;
                }
            }
        }
    }
}
