<div class="te-popover-link form-inline">
    <div class="input-group input-group-sm input-group-fixed">
        <input type="text"
               class="form-control te-input"
               ng-model="linkElement.url"
               placeholder="Enter a link">

        <span ng-click="remove()"
              uib-tooltip="Remove link"
              tooltip-class="tooltip-top"
              tooltip-append-to-body="true"
              class="pointer input-button-icon input-group-addon">
            <i class="fa fa-times"></i>
        </span>
    </div>
</div>
