<div class="panel-body"
     ng-if="$ctrl.mediator.model.options('replyIsText', true)">
    Write a reply...
    <i class="icon fa fa-smile-o"></i>
    <i class="icon fa fa-paperclip"></i>
</div>
<div class="panel-body reply-reaction text-center"
     ng-if="$ctrl.mediator.model.options('replyIsReactions', true)">
    <span ng-bind-html="::('👍' | emojis:24)"></span>
    <span ng-bind-html="::('👎' | emojis:24)"></span>
    <span ng-bind-html="::('😊' | emojis:24)"></span>
    <span ng-bind-html="::('😔' | emojis:24)"></span>
</div>
<div class="input-group"
     ng-if="$ctrl.mediator.model.options('replyIsEmail', true)">
    <input type="text"
           class="form-control"
           placeholder="email@domain.com">
    <span class="input-group-btn">
        <button class="btn btn-primary">
            <i class="fa fa-paper-plane"></i>
        </button>
    </span>
</div>
