@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(-5%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes animateSectionBody {
    0% {
        max-height: 0vh;
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        max-height: 100vh;
        transform: scale(1);
    }
}

@keyframes moveArrowRight {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(0px);
    }
}

@keyframes moveArrowLeft {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(0px);
    }
}
