users-filter-predicate {
    .name-container {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 5px;
    }

    .comparison-container {
        padding-right: 20px;

        button {
            font-size: 12px;
            min-width: 150px;
        }

        > .dropdown {
            flex: 1;
        }
    }

    .input-container,
    .input-group {
        width: 180px;
        float: right;
    }

    .btn-rule {
        width: 40px;
    }

    .small-filter & {
        .comparison-container {
            max-width: 150px;
            button {
                font-size: 12px;
                min-width: 120px;
            }
        }
        .input-container,
        .input-group {
            width: 150px;
            .input-group-addon {
                font-size: 11px;
            }
        }
    }
}

.comparison-type-dropdown {
    .radio + .radio {
        margin-top: 0;
    }

    .comparison-type {
        label {
            padding: 4px 12px 4px 40px;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 600;
            color: $text-color;
            cursor: pointer;
        }
    }
}
