@import "~angular-ui-notification/dist/angular-ui-notification.min.css";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "~font-awesome/css/font-awesome.min.css";
@import "../assets/styles/ui-elements.scss";
@import "../assets/styles/helpers.scss";
@import "../assets/styles/flexboxgrid.scss";

@font-face {
    font-family: 'Colfax Regular';
    src: local('Colfax Regular'), url('../../src/assets/fonts/Colfax-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Colfax Regular';
    src: local('Colfax Regular'), url('../../src/assets/fonts/Colfax-Medium.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Colfax Regular';
    src: local('Colfax Regular'), url('../../src/assets/fonts/Colfax-RegularItalic.woff') format('woff');
    font-style: italic;
}

@font-face {
    font-family: 'Colfax Regular';
    src: local('Colfax Regular'), url('../../src/assets/fonts/Colfax-MediumItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

input:-webkit-autofill, input:-webkit-autofill:focus {
    box-shadow: 0 0 0 1000px white inset;
}
