.edit-team-dialog {
    .emoj-dropdown {
        .form-control.btn {
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
        }
        .dropdown-menu {
            top: 40px;
        }
    }
}
